---
/* Components */
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import ButtonsRow from "../components/ButtonsRow.astro";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SocialNetwork from "../components/SocialNetwork.astro";
import Profession from "../components/Profession.astro";
import { getDevProfile } from "../libs/get-dev-profile";

const devProfile = await getDevProfile("?fields=devName&fields=jobPosition");

const { devName, jobPosition } = devProfile.data
---

<Layout
  title={devName}
  headerText={devName}
  animateHeader={true}
>
  <main>
    <section class="aboutMeContainer">
      <Profile profession={jobPosition} location="San Francisco, CA" />

      <Profession
        name={devName}
        profession={jobPosition}
        location="San Francisco, CA"
      />
    </section>

    <article>
      <AboutMe />
      <ButtonsRow />
    </article>

    <Skills />

    <Experience />

    <Projects />

    <SocialNetwork />
  </main>
</Layout>

<style>
  main {
    width: min(46rem, 100% - 32px);
    margin-inline: auto;
  }

  /* DESKTOP */
  @media (min-width: 678px) {
    section.aboutMeContainer {
      display: flex;
      align-items: center;
      gap: 0 15px;
    }
  }
</style>
