---
import { Image } from "astro:assets";
interface Props {
  id: number;
  image: string;
  title: string;
  type?: string;
}

const { image, title, id, type }: Props = Astro.props;
---

<a href=`/${id}` class="card" data-type={type}>
  <picture class="imageContainer">
    <Image
      width={173}
      height={173}
      src={image}
      alt="portfolio personal"
      loading="eager"
      transition:name=`project-image-${id}`
    />
  </picture>
  <p>{title}</p>
</a>

<style>
  a {
    text-decoration: none;
  }
  picture.imageContainer {
    width: 100%;
    max-width: 373px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
  p {
    font: var(--xl-medium);
    color: var(--dark-color);
    margin: 0 0 8px;
  }
</style>
