---
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import removeDayInTheDate from "../utils/removeDayInTheDate";
interface Props {
  role: string;
  company_address: string;
  company_name: string
  start_date: string;
  end_date?: string;
  is_current_job?: boolean;
}

const { role, company_address, company_name, start_date, end_date, is_current_job }: Props = Astro.props;
const iconFillColor = is_current_job ? "currentColor" : "#4f7396";

const [startJob, endJob] = removeDayInTheDate(start_date, end_date)
---

<section>
  <div class="experienceIcon">
    <ExperienceIcon width="24" height="25" fill={iconFillColor} />
  </div>
  <div class="experienceContent">
    <small>{startJob}</small> - <small>{end_date ? endJob : "actualidad"}</small>
    <h3>{role}</h3>
    <i>{company_name}</i>
    <p>{company_address}</p>
  </div>
  <div class=`experienceDot ${is_current_job ? "active": ""}`></div>
</section>

<style>
  section {
    display: flex;
    gap: 0 16px;
    align-items: start;
    padding: 12px 0;
  }

  .experienceIcon {
    background-color: var(--accent);
    padding: 12px;
    border-radius: var(--secondary-border-radius);
    display: flex;
  }
  small {
    opacity: 70%;
  }

  h3 {
    font: var(--xl-medium);
    color: var(--dark-color);
    margin: 5px 0 0;
    line-height: 12px;
  }
  i {
    font-size: 14px;
  }
  p {
    font: var(--l-regular);
    color: var(--secondary-color);
    margin: 8px 0 5px;
  }

  .experienceDot {
    min-width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: var(--accent);
    margin-left: auto;
  }
  .experienceDot.active {
    animation: pulse 2s infinite;
    background-color: var(--success);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
</style>
