---
/* Icons */
import EmailIcon from "../icons/EmailIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";

/* Components */
import SectionTitle from "./SectionTitle.astro";
import ContactLinks from "./ContactLinks.astro";
import { getContacts } from "../libs/get-contacts";

const contacts = await getContacts(
  "?fields=email&fields=service&fields=user_name&sort[1]=service"
);
---

<section>
  <SectionTitle title="Contacto" />
  {
    contacts.data.map((contact) => {
      const Icon = {
        Email: () => (
          <EmailIcon width="24" height="24" stroke="#0d141c" fill="none" />
        ),
        GitHub: () => <GithubIcon width="24" height="24" />,
        LinkedIn: () => (
          <LinkedinIcon width="24" height="24" fill="none" stroke="#0d141c" />
        ),
      }[contact.service];
      return (
        <ContactLinks
          link={contact.email}
          user={contact.user_name}
          email={contact.email}
          socialNetworkName={contact.service}
        >
          {Icon()}
        </ContactLinks>
      );
    })
  }
</section>

<style>
  section {
    padding: 16px 0;
  }
</style>
